.conda
.sst_py
patient_files
.DS_Store
.wdl
*pyc
.womtool
.cromwell
cromwell*
*h5*
outputs.json
stderr*
stdout*
task.log
rerun
workflow.log
command

inputs.json
_LAST
20230110_121237_sst_all/call-single*
